[z_calibration]
nozzle_xy_position:   336.70, 347   ;<X,Y position for clicking the nozzle on the Z endstop>
switch_xy_position:   336.70, 324.70   ;<X,Y position for clicking the probe's switch body on the Z endstop>
bed_xy_position:      160, 160   ;<X,Y position for probing the bed, for instance the center point>
switch_offset:        0.70   ;<offset of the switch trigger (read the Switch Offset section!)> se aumenta, si avvicina al piano --- prima era 0.63
offset_margins: 5
#   The maximum allowed deviation of the calculated offset.
#   If the offset exceeds this value, it will stop!
#   The default is 1.0 mm.
samples: 3
#   The number of times to probe each point. The probed z-values
#   will be averaged. The default is from the probe's configuration.
samples_tolerance: 0.0075
#   The maximum Z distance (in mm) that a sample may differ from other
#   samples. The default is from the probe's configuration.
samples_tolerance_retries: 10
#   The number of times to retry if a sample is found that exceeds
#   samples_tolerance. The default is from the probe's configuration.
samples_result: median
#   The calculation method when sampling more than once - either
#   "median" or "average". The default is from the probe's configuration.
position_min: -5
#   Minimum valid distance (in mm) used for probing move. The
#   default is from the Z rail configuration.
speed: 300
#   The moving speed in X and Y. The default is 50 mm/s.
lift_speed: 20
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples and clearance moves. The default is from the probe's
#   configuration.
probing_speed: 10
#   The fast probing speed (in mm/s) used, when probing_first_fast
#   is activated. The default is from the Z rail configuration.
probing_second_speed: 5
#   The slower speed (in mm/s) for probing the recorded samples.
#   The default is second_homing_speed of the Z rail configuration.
probing_retract_dist: 3
#   Distance to retract (in mm) before probing the next sample.
#   The default is homing_retract_dist from the Z rail configuration.
probing_first_fast: false
#   If true, the first probing is done faster by the probing speed.
#   This is to get faster down and the result is not recorded as a
#   probing sample. The default is false.
start_gcode:
	DOCK_PROBE
before_switch_gcode:
	ATTACH_PROBE
	G0 Z20
end_gcode:
	DOCK_PROBE